@charset "utf-8";
span
           {
               -webkit-text-size-adjust:none;
           }
           
            #Main_Page li
            {
                border: 1px solid #ACA7A6;
            }
             #Main_Page ul li span
            {
                font-size:14px;
            }
            
            #Main_Page .header,#Main_Page .items
            {
                padding:28px 0px;
                padding-left:22px;
            }
            
            #Main_Page .items
            {
                padding-top: 0px;
                padding-bottom:0px;
                
            }
            
            #Main_Page .items
            {
                border-top:none;
                padding-bottom:0px;
            }
            
           #Main_Page .header div,#Main_Page .items div
            {
                
                font-size:14px;
                
                display:inline-block;
            }
            
            #Main_Page .items div
            {
                height:60px;
                line-height:60px;
                
            }
            
            #Main_Page ul li.items .d03div span
              {
                   display:block;
                   width:100%;
                   line-height:20px;
              }
            
            @media only screen and (max-width:1990px)
            {
                #Main_Page{width:74%;}
                #Main_Page ul li.header .d01div,#Main_Page ul li.items .d01div{width:10.5%;}
                #Main_Page ul li.header .d02div,#Main_Page ul li.items .d02div{width:9%;}
                #Main_Page ul li.header .d03div,#Main_Page ul li.items .d03div{width:37%;}
                #Main_Page ul li.header .d04div,#Main_Page ul li.items .d04div{width:7.5%;}
                #Main_Page ul li.header .d05div,#Main_Page ul li.items .d05div{width:12%;}
                #Main_Page ul li.header .d06div,#Main_Page ul li.items .d06div{width:9.8%;}
                #Main_Page ul li.items .d03div
                {
                    
                    
                }
            
            }
            
            @media only screen and (max-width:1024px)
            {
                #Main_Page{width:84%;}
                #Main_Page ul li.items .d03div
                {
                    
                    
                    
                }
                
            
            }
            
            @media only screen and (max-width:750px)
             {
                #Main_Page{width:88%;}
                #Main_Page ul li.header .d01div,#Main_Page ul li.items .d01div{width:10%;}
                #Main_Page ul li.header .d02div,#Main_Page ul li.items .d02div{width:25%;}
                #Main_Page ul li.header .d03div,#Main_Page ul li.items .d03div{width:20%; padding:15px 0px;display:none;}
                #Main_Page ul li.header .d04div,#Main_Page ul li.items .d04div{width:0%; display:none; }
                #Main_Page ul li.header .d05div,#Main_Page ul li.items .d05div{width:30%;min-width:78px;}
                #Main_Page ul li.header .d06div,#Main_Page ul li.items .d06div{width:9.2%;}
                #Main_Page ul li.header .d01div span{ display:none;}
                #Main_Page ul li.items .d03div
                {
                    
                    
                    
                }
                
                
            
             }
            
             @media only screen and (max-width:480px)
             {
                #Main_Page{width:92%;}
                #Main_Page ul li.header .d01div,#Main_Page ul li.items .d01div{width:10%;}
                #Main_Page ul li.header .d02div,#Main_Page ul li.items .d02div{width:25%;}
                #Main_Page ul li.header .d03div,#Main_Page ul li.items .d03div{width:25%;padding:15px 0px; display:none;}
                #Main_Page ul li.header .d04div,#Main_Page ul li.items .d04div{width:0%; display:none;}
                #Main_Page ul li.header .d05div,#Main_Page ul li.items .d05div{width:28%;min-width:78px;}
                #Main_Page ul li.header .d06div,#Main_Page ul li.items .d06div{width:0%; display:none;}
                #Main_Page ul li.header .d01div span{ display:none;}
                
                
             }
             
             #Main_Page ul li.items .d01div
             {
                 line-height:100%;
             }
             
             #Main_Page ul li.items .d02div
             {
                 position:relative;
                 top:24px;
             }
             
             #recommend a
             {
                 display:inline-block;
                 width:60px;
                 height:60px;
                 margin-top:17px;
                 margin-right:10px;
                 margin-bottom:17px;
             }
             
             #recommend a img
             {
                 width:100%;
                 height:100%;
                
             }
             
            
             #CoverShell
            {
                width:100%; 
                display:none; 
                height:100%; 
                position:absolute; 
                z-index:1000; 
                top:0px;
                background:url(images/cvbk.png) repeat;
                /* ONLY FOR BROWSEER SUPPORT CSS3 */ 
                background:rgba(0,0,0,.4);
            }
            #Main_Page li img
            {
                display:inline-block;
                float:left;
                height:100%;
            }
            .header span,.items span,.Spin_TextArea{
                color: black;
            }
            .continueShopping{
                display:inline-block; 
                width:94px; 
                height:34px; 
                border-radius:4px; 
                line-height:34px; 
                text-align:center; 
                margin-right:15px;

                background:rgb(208,206,205); 
                color:#5F5958;

            }
            .continueShopping:hover{
                background:rgb(180,180,180); 
                color:#444;
            }
            .soonCacu{
                display:inline-block; 
                width:94px; 
                height:34px; 
                border-radius:4px; 
                background:#EEECEB; 
                line-height:34px; 
                text-align:center; 

 
                background:rgb(75,69,68); 
                color:#EEECEB;
            }
            .soonCacu:hover{
                background:#5f5958; 
                color:#FFF;
            }
            a {
                color:#0088DB;
                text-decoration:none;
                cursor:pointer
            }
            a:hover {
                color:#2A5E8E
            }
            a{color:#5f5859;}
            #recommend a{border:1px solid #fff;}
            #recommend a:hover{border-color:#DBBD9B;}